@import "../../../../shared/styles/styles";

.login-form {
  .username {
    margin-top: 15px;
  }

  .password {
    margin-top: 20px;
  }

  .login-btn {
    margin-top: 20px;
  }

  .login-error {
    margin-top: 10px;

    .error-msg {
      font-size: 12px;
      font-weight: bold;
      color: $error-red;
    }
  }
}